page-home {
	ion-card {
		.action-button {
			text-align: center;
		}
    }
    .hello-title {
        text-align: center;
        padding-top: 15px;
    }
    .main-image-container {
        .main-image {
            margin: auto;
            width: 80%;
        }
        text-align: center;
        margin: auto;
    }
    
}
