<ion-header>
  <ion-navbar>
    <ion-title class="navbar-title">
        <img class="navbar-img" src="assets/imgs/logos/logop.png">
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<h2 class="title">Paramètres</h2>
	<ion-list *ngIf="settings">
		<ion-item>
			<ion-label>Données :</ion-label>
			<ion-select [(ngModel)]="settings.displayMethod">
				<ion-option *ngFor="let method of displayMethods" [value]="method">
					{{ method }}
				</ion-option>
			</ion-select>
		</ion-item>
	</ion-list>
	<ion-fab right bottom>
	  <button (click)="save()" ion-fab color="primary">
	  	<ion-icon name="checkmark-circle-outline"></ion-icon>
	  </button>
	</ion-fab>
</ion-content>
