lessons {
  .item-ios, .item-md {
    padding-left: 8px;
  }
  ion-item.done, ion-item.done .checkbox-container ion-item {
    background-color: #d4ffbf;
  }
  .difficulty-rating {
    width: 30vw;
    display: inline-block;
    rating {
      ul {
        margin-block-start: 0;
        margin-block-end: 0;
        padding-inline-start: 0;
        li {
          color: #41c136;
          font-size: 16px;
        }
      }
    }
  }
  .checkbox-md.checkbox-disabled, .item-md.item-checkbox-disabled ion-label,
  .checkbox-ios.checkbox-disabled, .item-ios.item-checkbox-disabled ion-label {
    opacity: 1;
  }
  .checkbox-container[item-end] {
    width: 24px;
    margin: 0;
    .item-ios, .item-md {
      padding-left: 0;
    }
  }
  .progress-bar-container {
    width: 80%;
    height: 20px;
    margin: auto;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 5px;
    .progress-bar {
      background-color: #72d834;
      height: 18px;
      border-radius: 10px;
    }
  }
}