<ion-header>
  <ion-navbar>
    <ion-title class="navbar-title">
        <img class="navbar-img" src="assets/imgs/logos/logop.png">
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2 class="title">Statistiques</h2>
  <div class="sub-title" *ngIf="settings">
    <ion-label>Données :</ion-label>
    <ion-select (ionChange)="onMethodChanged()" [(ngModel)]="settings.displayMethod">
      <ion-option *ngFor="let method of displayMethods" [value]="method">
        {{ getStringFromDisplayMethod(method) }}
      </ion-option>
    </ion-select>
  </div>
  <div class="graph">
      <div *ngIf="isDataAvailable" class="graph-container">
        <canvas *ngIf="lineChartData[0].data" baseChart width="600" height="300"
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [colors]="lineChartColors"
            [legend]="lineChartLegend"
            [chartType]="lineChartType"
            (chartClick)="chartClicked($event)">
          </canvas>
      </div>
      <canvas id="myChartAxis" height="300" width="0"></canvas>
  </div>
</ion-content>
