<ion-header>
  <ion-navbar>
    <ion-title class="navbar-title">
        <img class="navbar-img" src="assets/imgs/logos/logop.png">
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2 class="title">Statistiques</h2>
  <div class="sub-title" *ngIf="settings">
    <h6 *ngIf="settings.displayMethod === 'Last hour'">Sur les 60 dernières minutes</h6>
    <h6 *ngIf="settings.displayMethod === 'Last day'">Sur les 24 dernières heures</h6>
    <h6 *ngIf="settings.displayMethod === 'Last week'">Sur les 7 derniers jours</h6>
    <h6 *ngIf="settings.displayMethod === 'Last month'">Sur les 30 derniers jours</h6>
  </div>
  <div class="graph">
      <div *ngIf="isDataAvailable" class="graph-container">
        <canvas *ngIf="lineChartData[0].data" baseChart width="600" height="300"
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [colors]="lineChartColors"
            [legend]="lineChartLegend"
            [chartType]="lineChartType"
            (chartClick)="chartClicked($event)">
          </canvas>
      </div>
      <canvas id="myChartAxis" height="300" width="0"></canvas>
  </div>
</ion-content>
